
/* this is a css reset that makes sure the browser won't add any unexpected margins or padding to your page */
body, html{
  margin:15px;
  padding:5px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 213, 213)
}

iframe {
  width: 100vw;
  height: 250px;
  border: none;
  overflow: hidden;
}

.container{
h1 {
  align-content: center;
  font-family: Curly;
  font-size: 180px;
}

h4 {
  font-family: Curly;
  font-size: 50px;
}

p2 {
font-size: 25px;
align-content: left;

}

p{
  font-size: 20px;
  color: rgb(255, 255, 255);
}
}

@media (max-width: 768px) {
  /* Tablet Styles */
}

@media (max-width: 425px) {
  /* Mobile Styles */
  iframe {
    display: none;
  }
}